<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
</head>
<body>
  <h1>Consultar Tiempo</h1>
  <form action="" method="post">{% csrf_token %}
    <p>Latitud</p>
    <input type="text" name="latitud" placeholder="latitud">
    <p>Longitud</p>
    <input type="text" name="longitud" placeholder="longitud"> 
    <br><br>
    <input name='boton1' type="submit" value="obtener clima">
  </form>
  <form action="" method="post">{% csrf_token %}
    <p>Ciudad</p>
    <input type="text" name="ciudad" placeholder="ciudad">
    <input name='boton2' type="submit" value="obtener clima">
  </form>
  <form action="" method="post">{% csrf_token %}
    <p>Pais</p>
    <input type="text" name="pais" placeholder="pais">
    <input name='boton3' type="submit" value="obtener clima">
  </form>

  
</body>
</html>